.button{
    margin-left: 1rem;
    background-color: blue;
    color: white;
    font-size: 12px;
    border-radius: 18px;
    padding: 4px;
}

.button--red{
    background-color: red;
}
.button--green{
    background-color: green;
}
.button--orange{
    background-color: rgb(218, 141, 0);
}

.button--rotate svg{
    transform: rotate(180deg);
}